/* css reset */
* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css */

a {
	text-decoration: none;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.top-nav {
	width: 1369px;
	height: 101px;
	background-image: linear-gradient(0deg, #68bce0 0%, #79c7e7 53%, #79c7e7 100%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1;
}

.top-nav .header-brand {
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 58px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Arial";
}

.top-nav .navbar-nav {
	display: flex;
	width: 360px;
	justify-content: space-between;
}

.top-nav .nav-link {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 58px;
	color: #ffffff;
	font-family: "Arial";
	text-align: center;
}

.top-nav .nav-link:hover {
	width: 62px;
	height: 21px;
	border-radius: 3px;
	background-color: #4196b4;
}

.banner .banner-img {
	display: block;
	margin: 0 auto;
	margin-top: 8rem; 
	width: 100%;
}

.banner {
	margin-bottom: 1.75rem;
}

.main-content {
	margin: 0 auto;
}

.main-content span, .news-content span {
	width: 5px;
	height: 24px;
	background-image: linear-gradient(0deg, #68bce0 0%, #79c7e7 53%, #79c7e7 100%);
	display: inline-block;
	margin-right: .25rem;
}

.main-content h1, .news-content h1 {
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 58px;
	color: #333333;
	font-family: "Arial";
	filter: drop-shadow(0.766px 0.643px 0.5px rgba(173,173,173,0.75));
	display: inline-block;
}

.main-content hr, .news-content hr {
	margin: 0;
	padding: 0;
	position: relative;
	top: -13px;
	width: 960px;
	height: 3px;
	background-color: #79c7e8;
	border: none;
}

.main-content p {
	width: 961px;
	height: 272px;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #333333;
	font-family: "Arial";
	margin-top: 1rem;
}

.news-content table{
	width: 100%;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 32px;
	color: #333333;
	font-family: "Arial";
}

.news-content .more-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.news-content .more-info a{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 32px;
	text-decoration: underline;
	color: #006699;
	font-family: "Arial";
	display: inline-block;
}

.news-content .btn-wrap {
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background-color: #79c7e8;
	position: relative;
	display: inline-block;
	border:  none;
	padding: 0;
	margin-right: .25rem;
}

.news-content .btn-icon {
	font-size: 7px;
	letter-spacing: 0px;
	line-height: 20px;
	color: #ffffff;
	font-family: "Koz Go Pr6 N";
	position: absolute;
	top: -3px;
	left: 4px;
	z-index: 1;
	margin: 0;
	background-image: none;
}

.news-content {
	margin-bottom: 1.75rem;
}

.foot-nav {
	width: 1369px;
	height: 60px;
	background-color: #79c7e8;
}

.foot-nav p {
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 58px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Arial";
	text-align: center;
}

.nav-toggle {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	height: auto;
	width: 50px;
	display: none;
	flex-direction: column;
	background-color: transparent;
	border: none;
}

.bar {
	margin-bottom: 0.5rem;
	width: 100%;
	display: block;
	border: 1px solid white;
	border-radius: 1rem;
}

@media (max-width: 992px) {

	.nav-toggle {
		display: flex;
	}

	.top-nav {
		max-width: 100vw;
		height: auto;
		flex-direction: column;
		align-items: flex-start;
	}

	.top-nav .header-brand {
		font-size: 27px;
	}

	.top-nav .navbar, .top-nav .navbar-nav {
		width: 100%;
	}

	.top-nav .navbar {
		display: none;
	}

	.top-nav .navbar-nav {
		flex-direction: column;
/* 		margin: 0; */
	}

	.top-nav .nav-item {
		text-align: center;
	}

	.top-nav .nav-link {
		line-height: normal;
		display: block;
		padding: .75rem;
	}

	.top-nav .nav-link:hover {
		width: auto;
		height: auto;
	}

	.container {
		max-width: 90vw;
	}

	.banner .banner-img {
		margin-top: 5rem;
	}

	.main-content {
		margin-bottom: 1.75rem;
	}

	.main-content, .main-content hr, .main-content p {
		width: 100%;
	}

	.main-content p {
		height: auto;
		text-align: justify;
	}

	.news-content hr {
		width: 100%;
	}

	.news-content .table-container {
		width: 100%;
		height: auto;
		overflow: auto;
		border-collapse: collapse;
		margin-bottom: 1.75rem;
	}

	.news-content table {
		min-width: 650px;
	}

	.foot-nav {
		max-width: 100vw;
	}

	.navbar.nav-collapse {
		display: block;
	}
	
}